
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}App{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset("bootstrap/css/bootstrap.css") }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset("bundles/cherryapp/css/theme.css") }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body role="document">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path("cherry_app_simulation_index") }}">Simulator</a></li>
                <li><a href="{{ path("user") }}">Users</a></li>
                <li><a href="{{ path("bonus") }}">Bonuses</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase">

    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}

    {% block body %}{% endblock body %}

</div>


<!-- Bootstrap core JavaScript
<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('bootstrap/js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
</body>
</html>
