{% extends 'CherryAppBundle::layout.html.twig' %}

{% block body %}
    <h1>User edit</h1>

    {{ form(edit_form, { 'style': 'horizontal' }) }}

    <ul class="list-inline">
        <li>
            <a href="{{ path('user') }}" class="btn btn-default">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
