{% extends 'CherryAppBundle::layout.html.twig' %}

{% block body %}
    <h1>User list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.age }}</td>
                <td>{{ entity.gender|capitalize }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn btn-default btn-sm">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-default btn-sm">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('user_new') }}" class="btn btn-default">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
