{% extends 'CherryAppBundle::layout.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ entity.age }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ entity.gender|capitalize }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li><a href="{{ path('user') }}" class="btn btn-default">Back to the list</a></li>
        <li><a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-default">Edit</a></li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
