{% if portfolio %}
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>Total balance:</td>
            <td>{{ portfolio.totalMoney |money_localized_format }}</td>
        </tr>
        <tr>
            <td>Real money:</td>
            <td>{{ portfolio.money |money_localized_format }}</td>
        </tr>
        {% for wallet in portfolio.bonusActiveWallets %}
            <tr>
                <td>Bonus {{ loop.index }}:</td>
                <td>{{ wallet.currentMoney |money_localized_format }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h4 class="text-center">No user.</h4>
{% endif %}
