{% extends "CherryAppBundle::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Player</h3>
                </div>
                <div class="panel-body">
                    {{ form(select_user_form, { 'style': 'inline' }) }}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-primary balance-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Balance</h3>
                </div>
                <div class="panel-body">
                    {{ render(controller('CherryAppBundle:Simulation:balance')) }}
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Deposit</h3>
        </div>
        <div class="panel-body">
            {% if deposit_form|default %}{{ form(deposit_form, { 'style': 'inline' }) }}{% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
            <a href="{{ path('login') }}" class="btn btn-info">Simulate login action</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Gamble</h3>
        </div>
        <div class="panel-body row">
            {% if gamble_form |default %}
                <div class="col-md-6">
                    {{ form(gamble_form, { 'style': 'inline' }) }}
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="won_amount">Won amount</label>
                        <input type="text" disabled="disabled" class="form-control" id="won_amount" value="{{ wonMoney|default ? wonMoney|money_localized_format: '' }}">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock body %}
