{% extends 'CherryAppBundle::layout.html.twig' %}

{% block body %}
    <h1>Bonus list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Reward type</th>
                <th>Reward value</th>
                <th>Wager multiplier</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('bonus_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.rewardType }}</td>
                <td>{{ entity.rewardValue }}</td>
                <td>{{ entity.wagerMultiplier }}</td>
                <td>{{ entity.status }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('bonus_show', { 'id': entity.id }) }}" class="btn btn-default btn-sm">show</a>
                    </li>
                    <li>
                        <a href="{{ path('bonus_edit', { 'id': entity.id }) }}" class="btn btn-default btn-sm">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="list-inline">
        <li>
            <a href="{{ path('cherry_app_bonus_newloginbonus') }}" class="btn btn-default">
                Create new on login bonus
            </a>
        </li>
    </ul>
    {% endblock %}
