{% extends 'CherryAppBundle::layout.html.twig' %}

{% block body %}
    <h1>Bonus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Reward type</th>
                <td>{{ entity.rewardType }}</td>
            </tr>
            <tr>
                <th>Reward value</th>
                <td>{{ entity.rewardValue }}</td>
            </tr>
            <tr>
                <th>Wager multiplier</th>
                <td>{{ entity.wagerMultiplier }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Requirements</th>
                <td>{{ entity.requirements |default('-') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('bonus') }}" class="btn btn-default">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('bonus_edit', { 'id': entity.id }) }}" class="btn btn-default">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
